$max-mobile-width: "(max-width: 767px)";
$max-mobile-wrapper: 500px;

$min-tablet-width: "(min-width: 768px)";
$max-tablet-width: "(max-width: 1361px)";
$max-tablet-wrapper: 991px;

$min-desktop-width: "(min-width: 1362px)";
$max-desktop-wrapper: 1400px;

$font-main: "roboto", "Arial", sans-serif;

$text-main-color: #000000;

$main-bg: #ffffff;

$header-callback-btn: #cca266;

$footer-btn-color-mobile: #c9283a;

$callback-link-color: #c9283a;