.page-footer {
  width: 100%;
  margin-bottom: 0;
  margin-top: auto;
  background-color: #fff;
  @media #{$min-desktop-width} {
    border-top: 1px solid #eaeaea;
  }
}
.page-footer__callback-btn-field {
  @media #{$max-mobile-width} {
    width: 100%;
    height: 6.9rem;
  }
  @media #{$min-tablet-width} {
    display: none;
  }
}
.page-footer__callback-btn {
  width: 100%;
  height: 6.9rem;
  border: 0 solid transparent;
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
  background-color: $footer-btn-color-mobile;
  text-transform: uppercase;
}
.page-footer__wrapper {
  @include section-width;
  @include paddings;
  @media #{$max-mobile-width} {
    display: none;
  }
  @media #{$min-tablet-width} {
    display: flex;
    padding-top: 20px;
    height: 114px;
  }
  @media #{$min-desktop-width} {
    padding-left: 139px;
    padding-top: 34px;
    height: 180px;
  }
}
.page-footer__callback-btn-field {
  @media #{$min-tablet-width} {
    display: none;
  }
}
.page-footer__nav-list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  @media #{$min-tablet-width} {
    width: 171px;
  }
  @media #{$min-desktop-width} {
    width: 223px;
  }
}
.page-footer__nav-link {
  color: #888888;
  @media #{$min-tablet-width} {
    font-size: 1.1rem;
    line-height: 2.2rem;
    text-decoration: none;
  }
  @media #{$min-desktop-width} {
    font-size: 1.4rem;
    line-height: 3.2rem;
  }
}
.page-footer__nav-link:hover {
  color: #000;
}
.page-footer__phone-field {
  flex-shrink: 0;
  margin-left: auto;
  box-sizing: border-box;
  @media #{$min-tablet-width} {
    padding-top: 2px;
    margin-right: 32px;
  }
  @media #{$min-desktop-width} {
    padding-top: 12px;
    margin-right: 205px;
  }
}
.page-footer__phone-link {
  @media #{$min-tablet-width} {
    text-align: right;
    display: block;
    font-size: 1.1rem;
    line-height: 2rem;
    color: #3e3e3e;
    text-decoration: none;
  }
  @media #{$min-desktop-width} {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}
.page-footer__phone-link:hover {
  @media #{$min-tablet-width} {
    color: $header-callback-btn;
  }
}
.page-footer__callback {
  @media #{$min-tablet-width} {
    text-align: right;
    display: block;
    font-size: 1.1rem;
    line-height: 2.2rem;
    font-weight: 100;
    margin-top: 6px;
    color: $callback-link-color;
  }
  @media #{$min-desktop-width} {
    font-size: 1.6rem;
    line-height: normal;
  }
}
.page-footer__callback:visited {
  color: $callback-link-color;
}